body {
    padding: 5%;
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 1px dashed black;
    width: 100%;
    margin: 3%;
    padding: 10%;
    background:rgb(216, 216, 216);
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px black;
}

.textBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: rgb(250, 239, 239);
    margin-top: 6%;
    border-radius: 30px;
}

img {
    max-width: 250px;
    max-height: 250px;
    align-self: center;
    border-radius: 50px;
    border: 1px solid black;
    box-shadow: 1px 1px black;
}

h2 {
    font-size: 1.5rem;
    font-weight: 100;
}

p {
    font-size: 1.3rem;
    background: rgb(142, 150, 153);
    border-radius: 10px;
    padding: 2%;
    border: 2px solid white;
}